

<div class="nav-item Ahlan" >
  <p class="m-0 ">Ahlan Abdelmomen</p>
  <button class="btn" >Sign Out</button>
  <hr class="m-0">
</div>
<nav
            id="sidebarMenu"
            class="sidebar"
          >
            <div class="position-sticky pt-3 asideDiv">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" [routerLink]="['/User/Account/Orders']" routerLinkActive="router-link-active" >
                    <span data-feather="home">
                      <img
                        src="../../../../../assets/user profile/aside/orders_menu_icon_v3.svg"
                        alt=""
                      />
                    </span>
                    Orders
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/User/Account/Addresses']" routerLinkActive="router-link-active" >
                    <span data-feather="file">
                      <img
                        src="../../../../../assets/user profile/aside/addresses_menu_icon_v3.svg"
                        alt=""
                      />
                    </span>
                    Addresses
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/User/Account/Payments']" routerLinkActive="router-link-active" >
                    <span data-feather="shopping-cart">
                      <img
                        src="../../../../../assets/user profile/aside/payment_menu_icon_v3.svg"
                        alt=""
                      />
                    </span>
                    Payments
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/User/Account/noonCredits']" routerLinkActive="router-link-active" >
                    <span data-feather="users">
                      <img
                        src="../../../../../assets/user profile/aside/noon_credits_menu_icon_v3.svg"
                        alt=""
                      />
                    </span>
                    noon credits
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/User/Account/Returns']" routerLinkActive="router-link-active" >
                    <span data-feather="bar-chart-2">
                      <img
                        src="../../../../../assets/user profile/aside/returns_menu_icon_v3.svg"
                        alt=""
                      />
                    </span>
                    Returns
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/User/Account/Claims']" routerLinkActive="router-link-active" >
                    <span data-feather="layers">
                      <img
                        src="../../../../../assets/user profile/aside/claims_menu_icon_v3.svg"
                        alt=""
                      />
                    </span>
                    Claims    <!-- missing image ////////////////////////-->
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/User/Account/Preferences']" routerLinkActive="router-link-active" >
                    <span data-feather="layers">
                      <img
                        src="../../../../../assets/user profile/aside/preferences_menu_icon_v3.svg"
                        alt=""
                      />
                    </span>
                    Preferences
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/User/Account/giftCards']" routerLinkActive="router-link-active" >
                    <span data-feather="layers">
                      <img
                        src="../../../../../assets/user profile/aside/gift_card_v2.svg"
                        alt=""
                      />
                    </span>
                    Gift Cards
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/User/Account/Profile']" routerLinkActive="router-link-active" >
                    <span data-feather="layers">
                      <img
                        src="../../../../../assets/user profile/aside/profile_menu_icon_v3.svg"
                        alt=""
                      />
                    </span>
                    Profile
                  </a>
                </li>
              </ul>
            </div>
          </nav>
