

<div class="nav-item mt-2" >
  <p class="m-0 ">Ahlan Abdelmomen</p>
  <a class="nav-link" href="">Sign Out</a>
  <hr class="m-0">
</div>
<nav
            id="sidebarMenu"
            class="sidebar"
          >
            <div class="position-sticky pt-3">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" [routerLink]="['/User/Account/Orders']" routerLinkActive="router-link-active" >
                    <span data-feather="home">
                      <img
                        src="images/dashboard/orders_menu_icon_v3.svg"
                        alt=""
                      />
                    </span>
                    Orders
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/User/Account/Addresses']" routerLinkActive="router-link-active" >
                    <span data-feather="file">
                      <img
                        src="images/dashboard/addresses_menu_icon_v3.svg"
                        alt=""
                      />
                    </span>
                    Addresses
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/User/Account/Payments']" routerLinkActive="router-link-active" >
                    <span data-feather="shopping-cart">
                      <img
                        src="images/dashboard/payment_menu_icon_v3.svg"
                        alt=""
                      />
                    </span>
                    Payments
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/User/Account/noonCredits']" routerLinkActive="router-link-active" >
                    <span data-feather="users">
                      <img
                        src="images/dashboard/noon_credits_menu_icon_v3.svg"
                        alt=""
                      />
                    </span>
                    noon credits
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/User/Account/Returns']" routerLinkActive="router-link-active" >
                    <span data-feather="bar-chart-2">
                      <img
                        src="images/dashboard/returns_menu_icon_v3.svg"
                        alt=""
                      />
                    </span>
                    Returns
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/User/Account/Claims']" routerLinkActive="router-link-active" >
                    <span data-feather="layers">
                      <img
                        src="images/dashboard/preferences_menu_icon_v3.svg"
                        alt=""
                      />
                    </span>
                    Claims
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/User/Account/Preferences']" routerLinkActive="router-link-active" >
                    <span data-feather="layers">
                      <img
                        src="images/dashboard/preferences_menu_icon_v3.svg"
                        alt=""
                      />
                    </span>
                    Preferences
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/User/Account/giftCards']" routerLinkActive="router-link-active" >
                    <span data-feather="layers">
                      <img
                        src="images/dashboard/preferences_menu_icon_v3.svg"
                        alt=""
                      />
                    </span>
                    Gift Cards
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/User/Account/Profile']" routerLinkActive="router-link-active" >
                    <span data-feather="layers">
                      <img
                        src="images/dashboard/preferences_menu_icon_v3.svg"
                        alt=""
                      />
                    </span>
                    Profile
                  </a>
                </li>
              </ul>
            </div>
          </nav>
