<header>
  <nav
    class="
      navbar navbar-expand-sm navbar-light
      position-sm-static
      p-1
      first__navbar
    "
  >
    <div class="container-fluid">
      <a class="navbar-brand d-block d-sm-none" href="#"
        ><img src="./assets\header\noon-black-en.svg" alt="noon"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              ><img src="../../../assets/header/noon-black-en.svg" alt="noon"
            /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex" href="#">
              <div class="egyptFlag mx-2 d-flex d-none d-md-block">
                <img src="../../../assets/header/dropdownArrow.svg" alt="" />
              </div>
              <div>
                <div class="Deliver">
                  <span>Deliver to</span>
                  <img src="../../../assets/header/eg.svg" alt="" />
                </div>
                <span>Cairo</span>
              </div>
            </a>
          </li>
          <!-- ////////// search  ////////////-->
          <li class="header__li__search">
            <!-- <form class="d-flex"> -->
            <input
              class="header__search me-2"
              type="search"
              aria-label="Search"
              placeholder="What are you looking for?"
            />
            <!-- <i class="bi bi-search d-block d-md-none" ></i> -->
            <!-- </form> -->
          </li>
          <li class="nav-item language">
            <a class="nav-link" href="#">
              <span>العربية</span>
            </a>
          </li>
          <li class="nav-item sign-in">
            <a class="nav-link" href="#">
              <span>Sign In</span>
              <img
                src="../../../assets/header/user_thin.svg"
                alt="user"
                style="width: 17px"
              />
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span>Cart</span>
              <img src="../../../assets/header/cart.svg" alt="cart" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <i
    class="bi bi-filter-square-fill d-block d-md-none aside__controller"
    (click)="toggleNav()"
  ></i>
  <!-- <i class="bi bi-filter-square-fill"></i> -->
  <div class="second__navbar d-flex" #second__navbar>
    <div class="dropdown d-none d-lg-block">
      <!--  data-bs-toggle="dropdown"
        aria-expanded="false"
      role="button" -->
      <a class="btn dropdown-toggle a_cat" id="dropdownMenuLink">
        ALL CATEGORIES
      </a>
      <!-- <div></div> -->
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Electronics</a></li>
        <li><a class="dropdown-item" href="#">Mobiles</a></li>
        <li><a class="dropdown-item" href="#">Beauty & Health</a></li>
        <li><a class="dropdown-item" href="#">Fashion</a></li>
        <li><a class="dropdown-item" href="#">Home & Kitchen</a></li>
        <li><a class="dropdown-item" href="#">Sports & Fitness</a></li>
        <li><a class="dropdown-item" href="#">Baby Products</a></li>
        <li><a class="dropdown-item" href="#">Books</a></li>
        <li><a class="dropdown-item" href="#">Office Products</a></li>
        <li><a class="dropdown-item" href="#">Music</a></li>
        <li><a class="dropdown-item" href="#">Automotive</a></li>
      </ul>
      <div class="dropdownDiv">
        <div class="dropdownDivOne"></div>
        <div class="dropdownDivTwo">
          <h4>Electronics</h4>
          <hr class="m-2"/>
          <div class="d-flex">
            <div class="w-50">
              <h6>Most Popular</h6>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>


              </ul>
            </div>
            <div class="">
              <h6>Top Brands</h6>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ul class="nav" #li>
      <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
          </li> -->
      <li class="nav-item">
        <a class="nav-link">Electronics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Electronics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Men</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Women</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Beauty & Health</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Baby & Toys</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Supermarket</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Deals</a>
      </li>
    </ul>
    <div class="show__categories container-fluid" #show__categories>
      <div class="row">
        <div class="col-2">
          <h6>CATEGORIES</h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
        <div class="col-4">
          <h6>TOP BRANDS</h6>
          <div class="photos">
            <a href="#"
              ><img
                src="../../../assets/header/nav (from DB)/drop-brand-01.png"
                class="img-fluid"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../../assets/header/nav (from DB)/drop-brand-02.png"
                class="img-fluid"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../../assets/header/nav (from DB)/drop-brand-03.png"
                class="img-fluid"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../../assets/header/nav (from DB)/drop-brand-04.png"
                class="img-fluid"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../../assets/header/nav (from DB)/drop-brand-05.png"
                class="img-fluid"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../../assets/header/nav (from DB)/drop-brand-06.png"
                class="img-fluid"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../../assets/header/nav (from DB)/drop-brand-08.png"
                class="img-fluid"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../../assets/header/nav (from DB)/drop-brand-09.png"
                class="img-fluid"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../../assets/header/nav (from DB)/drop-brand-10.png"
                class="img-fluid"
                alt=""
            /></a>
          </div>
        </div>
        <div class="col-6">
          <div class="last2__photos h-100">
            <div>
              <a href=""
                ><img
                  src="../../../assets/header/nav (from DB)/en_drop-01.png"
                  class="img-fluid h-100"
                  alt=""
              /></a>
            </div>
            <div>
              <a href=""
                ><img
                  src="../../../assets/header/nav (from DB)/en_drop-02.png"
                  class="img-fluid h-100"
                  alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <p>    // ==> just for test
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab eos
    exercitationem accusamus soluta maxime. Quasi ipsum facere, a voluptas ipsa
    corporis blanditiis, officia voluptates vel molestias ducimus debitis quo
    quia?
  </p> -->
</header>
