<div class="container-fluid">
    <div class="row  bg-warning">
        <h1>Header block</h1>
    </div>


    <div class="row">
        <a href=""><img src="assets/zaytoun/Electronics/1.png" alt="Alt_Text" width="100%"></a>
    </div>

    <div class="row mt-5 bg-warning">
        <h1>Rmadan block</h1>
    </div>


    <div class="mt-5">
        <div>
            <h3 class="hRlTQS">Televisions</h3>
        </div>

        <div>
            <a href=""><img src="assets/zaytoun/Electronics/2.png" alt="Alt_Text" width="100%"></a>
        </div>
    </div>


    <div class="row  mt-5">
        <div class="col">
            <a href=""><img src="assets/zaytoun/Electronics/3.png" alt="Alt_Text" width="100%"></a>
        </div>
        <div class="col">
            <a href=""><img src="assets/zaytoun/Electronics/4.png" alt="Alt_Text" width="100%"></a>
        </div>
        <div class="col">
            <a href=""><img src="assets/zaytoun/Electronics/5.png" alt="Alt_Text" width="100%"></a>
        </div>
    </div>


    <div class="mt-5">
        <div class="mb-3">
            <h3 class="hRlTQS">Laptops</h3>
        </div>
        <div class="row">
            <div class="col">
                <a href=""><img src="assets/zaytoun/Electronics/6.png" alt="Alt_Text" width="100%"></a>
            </div>
            <div class="col">
                <a href=""><img src="assets/zaytoun/Electronics/7.png" alt="Alt_Text" width="100%"></a>
            </div>
            <div class="col">
                <a href=""><img src="assets/zaytoun/Electronics/8.png" alt="Alt_Text" width="100%"></a>
            </div>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col">
            <a href=""><img src="assets/zaytoun/Electronics/9.png" alt="Alt_Text" width="100%"></a>
        </div>
        <div class="col">
            <a href=""><img src="assets/zaytoun/Electronics/10.png" alt="Alt_Text" width="100%"></a>
        </div>
        <div class="col">
            <a href=""><img src="assets/zaytoun/Electronics/11.png" alt="Alt_Text" width="100%"></a>
        </div>
        <div class="col">
            <a href=""><img src="assets/zaytoun/Electronics/12.png" alt="Alt_Text" width="100%"></a>
        </div>
        <div class="col">
            <a href=""><img src="assets/zaytoun/Electronics/13.png" alt="Alt_Text" width="100%"></a>
        </div>
        <div class="col">
            <a href=""><img src="assets/zaytoun/Electronics/14.png" alt="Alt_Text" width="100%"></a>
        </div>
    </div>


    <div class="row mt-5 bg-warning">
        <h1>Rmadan block</h1>
    </div>


    <div class="mt-5">
        <div class="mb-3">
            <h3 class="hRlTQS">Audio</h3>
        </div>
        <div class="row">
            <div class="col">
                <a href=""><img src="assets/zaytoun/Electronics/15.png" alt="Alt_Text" width="100%"></a>
            </div>
            <div class="col">
                <a href=""><img src="assets/zaytoun/Electronics/16.png" alt="Alt_Text" width="100%"></a>
            </div>
            <div class="col">
                <a href=""><img src="assets/zaytoun/Electronics/17.png" alt="Alt_Text" width="100%"></a>
            </div>
        </div>
    </div>


    <div class="mt-5">
        <div class="mb-3">
            <h3 class="hRlTQS">Video games</h3>
        </div>
        <div class="row">
            <div class="col">
                <a href=""><img src="assets/zaytoun/Electronics/18.png" alt="Alt_Text" width="100%"></a>
            </div>
            <div class="col">
                <a href=""><img src="assets/zaytoun/Electronics/19.png" alt="Alt_Text" width="100%"></a>
            </div>
            <div class="col">
                <a href=""><img src="assets/zaytoun/Electronics/20.png" alt="Alt_Text" width="100%"></a>
            </div>
            <div class="col">
                <a href=""><img src="assets/zaytoun/Electronics/21.png" alt="Alt_Text" width="100%"></a>
            </div>
        </div>
    </div>



    <div class="mt-5">
        <div class="mb-3">
            <h3 class="hRlTQS">Cameras</h3>
        </div>
        <div class="row">
            <div class="col">
                <a href=""><img src="assets/zaytoun/Electronics/22.png" alt="Alt_Text" width="100%"></a>
            </div>
            <div class="col">
                <a href=""><img src="assets/zaytoun/Electronics/23.png" alt="Alt_Text" width="100%"></a>
            </div>
            <div class="col">
                <a href=""><img src="assets/zaytoun/Electronics/24.png" alt="Alt_Text" width="100%"></a>
            </div>
            <div class="col">
                <a href=""><img src="assets/zaytoun/Electronics/25.png" alt="Alt_Text" width="100%"></a>
            </div>
            <div class="col">
                <a href=""><img src="assets/zaytoun/Electronics/26.png" alt="Alt_Text" width="100%"></a>
            </div>
            <div class="col">
                <a href=""><img src="assets/zaytoun/Electronics/27.png" alt="Alt_Text" width="100%"></a>
            </div>
        </div>
    </div>

    
    <div class="row  mt-5  bg-warning">
        <h1>Footer block</h1>
    </div>


</div>