<form class="row g-3" [formGroup]="myForm">
    <div class="col-12">
        Value:{{ myForm.value| json }}
</div>

    <div class="col-md-6">
        <label for="inputState" class="form-label">Category</label>
      <!-- <select id="inputState" name="CategoryList" class="form-select" [(ngModel)]=ProductCategory > -->
        <select name="catg" id="catDDL" class="form-select w-25" formControlName="CategoryName" >
            <option *ngFor="let ctl of catList" [value]="ctl.Name" selected>{{ctl.Name}}</option>
      </select>
    </div>
    
    <div class="col-12">
      <label for="Name" class="form-label">Product Name</label>
      <input type="text" name="Productname" class="form-control" id="inputName" placeholder="XXX Device" formControlName="Name" required>
      <div class="alert alert-success col-6 " role="alert" [hidden]="!myForm.controls['Name'].valid">
        Valid Name Criteria
      </div>
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Price</label>
      <input type="number" name="ProductPrice" class="form-control" id="inputPrice" placeholder="$ 000" formControlName="Price"  required>
      <div class="alert alert-success col-6 " role="alert" [hidden]="!myForm.controls['Price'].valid">
        Valid Price Criteria
      </div>
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Quantity</label>
      <input type="number" name="ProductQuantity" placeholder="0" class="form-control" id="inputQuantity" formControlName="Quantity" required>
      <div class="alert alert-success col-6 " role="alert" [hidden]="!myForm.controls['Quantity'].valid">
        Valid Quantity Range
      </div>
    </div>
    <div class="col-md-8">
        <label for="imageinput" class="form-label">Image </label>
        <input type="file" name="image" class="form-control" id="inputImage"   (change)="upload($event)"  >
    </div>
    <!-- <div class="col-md-8">
        <label for="imageinput" class="form-label">Multi Images</label>
        <input type='file' name='files[]' multiple class="form-control" id="inputImage"  formControlName="ImgUrL" (change)="uploadMulti($event)"  >
    </div> -->
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Product ID</label>
      <input type="number" name="ProductID" class="form-control" id="inputID" formControlName="id" required>
    </div>
    <!-- <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div> -->
    <div class="col-12">
      <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid" (click)=addProduct(myForm.value)> Add Product</button>
    </div>
    
  </form>
