<h3>Today Date: {{todayDate | date: 'mediumDate'}}</h3>
<!-- <button (click)="showProducts()">Show Products</button> -->
<!-- <input type="text" #idOfProduct>
<button (click)="showProductById(idOfProduct.value)">Show this product</button> -->

<div class="mb-3">
    <label for="" class="form-label">Select Category:</label>
    <select name="cat" id="catDDL" class="form-select" [(ngModel)]="selectedCat" #selectItem
        (change)="showProducts(selectItem.value)">
        <option value="">All</option>
        <!--<option *ngFor="let cat of CatList" [value]="cat.ID">{{cat.Name}}</option>-->
        <option *ngFor="let cat of StaticCat" [value]="cat">{{cat}}</option>
    </select>
</div>
<hr>
<div>
    <h2>Products List:</h2>
    <table class="table table-hover table-striped table-dark">
        <thead>
            <tr>
                <th>No.</th>
                <th>Title</th>
                <th>Price</th>
                <th>Image</th>
                <th>details</th>
                <th>show</th>
            </tr>
        </thead>
        <tbody>
            <!--[hidden]="isProductsHidden"-->
            <ng-container *ngFor="let prd of ProductList; let i=index">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{prd.title}}</td>
                    <td>{{prd.price}}</td>
                    <td><img src="{{ImagesUrl}}{{prd.imageSrc}}" alt="" width="200px"></td>
                    <td>{{prd.desc}}</td>
                    <td>
                        <a class="btn btn-primary" routerLink="/Product/{{prd._id}}" role="button">View</a>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>