<footer
        class="last__footer py-0 py-sm-4 my-0"
      >
        <!-- <div class="container-fluid"> -->
          <div
            class="
              d-flex
              flex-wrap
              justify-content-center justify-content-lg-between
              align-items-center
            "
          >
            <p
              class="
                col-lg-3 col-md-6 col-12
                mb-0
                d-flex
                justify-content-center justify-content-lg-start
                align-items-center
                text-center
              "
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="'`noon`', the 'noon device', 'noon east', 'east' and the 'east device' are trade marks or registered trade marks of Noon AD Holdings LTD. in the UAE and other countries"
            >
              &copy; 2021 noon, All rights reserved
            </p>

            <ul
              class="
                nav
                d-flex
                col-lg-5 col-md-6 col-12
                justify-content-center justify-content-lg-end
                px-0
              "
            >
              <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">Warranty Policy</a>
              </li>

              <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">Terms of Use</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">Terms of Sale</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">Privacy Policy</a>
              </li>
            </ul>
          </div>
        <!-- </div> -->
      </footer>
